{
  "apiHost": "http://localhost",
  "apiPort": 8180,
  "apiRoot": "/v1",
  "env": {
    "singleServer": true,
    "parallelism": 1
  },
  "defaultRequestOpts": {
    "headers": {
      "my-header": "my-header-value"
    },
    "json": true
  },
  "testSetConf": [
    {
      "id": "testSet1"
    },
    {
      "id": "testSet2"
    }
  ]
}
